---
# decreased replica count for cirrus CI

searchNodes:
  replicaCount: 1
  image:
    repository: "sonarsource/sonarqube"
    tag: "2025.1.5-master-datacenter-search"
    pullSecrets:
      - name: pullsecret

ApplicationNodes:
  replicaCount: 1
  jwtSecret: "mnGBJtmwRbIREqy3vSw6Cinoi2WEom9JH+iw/tXOJX4="
  image:
    repository: "sonarsource/sonarqube"
    tag: "2025.1.5-master-datacenter-app"
    pullSecrets:
      - name: pullsecret

postgresql:
  securityContext:
    # On Cirrus, we have permissions issue if the fsGroup is not set to 1001 explicitly
    enabled: true
    # fsGroup and runAsUser specifications below are not applied if enabled=false. enabled=false is the required setting for OpenShift "restricted SCC" to work successfully.
    # postgresql dockerfile sets user as 1001
    fsGroup: 1001

monitoringPasscode: "test"
