apiVersion: v2
name: sonarqube-dce
description: SonarQube is a self-managed, automatic code review tool that systematically helps you deliver clean code. As a core element of our Sonar solution, SonarQube integrates into your existing workflow and detects issues in your code to help you perform continuous code inspections of your projects. The tool analyses 30+ different programming languages and integrates into your CI pipeline and DevOps platform to ensure that your code meets high-quality standards.
type: application
version: 10.7.0
appVersion: 10.6.0
keywords:
  - coverage
  - security
  - code
  - quality
home: https://www.sonarqube.org/
icon: https://raw.githubusercontent.com/SonarSource/sonarqube-static-resources/master/helm/SonarQubeLogo.svg
sources:
  - https://github.com/SonarSource/helm-chart-sonarqube
  - https://github.com/SonarSource/docker-sonarqube
  - https://github.com/SonarSource/sonarqube
kubeVersion: '>= 1.24.0-0'
maintainers:
  - name: leo-geoffroy-sonarsource
    email: leo.geoffroy+helm@sonarsource.com
  - name: carminevassallo
    email: carmine.vassallo@sonarsource.com
  - name: jCOTINEAU
    email: jeremy.cotineau@sonarsource.com
  - name: davividal
    email: davi.koscianski-vidal@sonarsource.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "Update Chart's version to 10.7.0"
    - kind: changed
      description: "Support Kubernetes v1.30"
    - kind: changed
      description: "Upgrade ingress-nginx dependency to 4.10.1"
    - kind: changed
      description: "Deprecate `jdbcOverwrite.enable` in favor of `jdbcOverwrite.enabled`"
  artifacthub.io/links: |
    - name: support
      url: https://community.sonarsource.com/
    - name: Chart Source
      url: https://github.com/SonarSource/helm-chart-sonarqube/tree/master/charts/sonarqube-dce
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/images: |
    - name: sonarqube-app
      image: sonarqube:10.6.0-datacenter-app
    - name: sonarqube-search
      image: sonarqube:10.6.0-datacenter-search
dependencies:
  - name: postgresql
    version: 10.15.0
    repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
    condition: postgresql.enabled
  - name: ingress-nginx
    version: 4.10.1
    repository: https://kubernetes.github.io/ingress-nginx
    condition: nginx.enabled,ingress-nginx.enabled
