apiVersion: v2
name: sonarqube-dce
description: SonarQube offers Code Quality and Code Security analysis for up to 27 languages. Find Bugs, Vulnerabilities, Security Hotspots and Code Smells throughout your workflow.
type: application
version: 7.0.2
appVersion: 9.9.2
keywords:
  - coverage
  - security
  - code
  - quality
home: https://www.sonarqube.org/
icon: https://www.sonarqube.org/assets/logo-31ad3115b1b4b120f3d1efd63e6b13ac9f1f89437f0cf6881cc4d8b5603a52b4.svg
sources:
  - https://github.com/SonarSource/docker-sonarqube
  - https://github.com/SonarSource/sonarqube
kubeVersion: '>= 1.19.0-0'
maintainers:
  - name: leo-geoffroy-sonarsource
    email: leo.geoffroy+helm@sonarsource.com
  - name: carminevassallo
    email: carmine.vassallo@sonarsource.com
  - name: jCOTINEAU
    email: jeremy.cotineau@sonarsource.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "Update SonarQube to 9.9.2"
  artifacthub.io/links: |
    - name: support
      url: https://community.sonarsource.com/
    - name: Chart Source
      url: https://github.com/SonarSource/helm-chart-sonarqube/tree/master/charts/sonarqube-dce
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/images: |
    - name: sonarqube-app
      image: sonarqube:9.9.2-datacenter-app
    - name: sonarqube-search
      image: sonarqube:9.9.2-datacenter-search
dependencies:
  - name: postgresql
    version: 10.15.0
    repository: https://raw.githubusercontent.com/bitnami/charts/pre-2022/bitnami
    condition: postgresql.enabled
  - name: ingress-nginx
    version: 4.0.13
    repository: https://kubernetes.github.io/ingress-nginx
    condition: nginx.enabled
