apiVersion: v2
name: sonarqube-dce
description: SonarQube offers Code Quality and Code Security analysis for up to 27 languages. Find Bugs, Vulnerabilities, Security Hotspots and Code Smells throughout your workflow.
type: application
version: 8.3.1
appVersion: 9.9.0
keywords:
  - coverage
  - security
  - code
  - quality
home: https://www.sonarqube.org/
icon: https://raw.githubusercontent.com/SonarSource/sonarqube-static-resources/master/helm/SonarQubeLogo.svg
sources:
  - https://github.com/SonarSource/helm-chart-sonarqube
  - https://github.com/SonarSource/docker-sonarqube
  - https://github.com/SonarSource/sonarqube
kubeVersion: '>= 1.19.0-0'
maintainers:
  - name: leo-geoffroy-sonarsource
    email: leo.geoffroy+helm@sonarsource.com
  - name: carminevassallo
    email: carmine.vassallo@sonarsource.com
  - name: jCOTINEAU
    email: jeremy.cotineau@sonarsource.com
annotations:
  artifacthub.io/changes: |
    - kind: fixed
      description: "Make jvmOpts and jvmCeOpts not override env vars and sonar properties"
    - kind: added
      description: "Add helm-chart-sonarqube as chart source"
    - kind: fixed
      description: "Fixed unsupported wget parameter --proxy off with --no-proxy"
    - kind: fixed
      description: "Fix install_plugins.sh not deleting previously installed plugins"
    - kind: changed
      description: "Clarify doc for custom cacert secret"
    - kind: added
      description: "Add a configurable Prometheus PodMonitor resource"
    - kind: changed
      description: "Prometheus exporter updated to 0.17.2"
    - kind: changed
      description: "Allow setting priorityClassName for StatefulSets"
    - kind: changed
      description: "Adds timeoutSeconds parameter to probes"
    - kind: fixed
      description: "Fix the volume mounts for the init-fs container"
    - kind: changed
      description: "Update SonarQube logo"
    - kind: changed
      description: "Bootstrap chart version 8.x.x dedicated to the future SonarQube 10.0"
  artifacthub.io/links: |
    - name: support
      url: https://community.sonarsource.com/
    - name: Chart Source
      url: https://github.com/SonarSource/helm-chart-sonarqube/tree/master/charts/sonarqube-dce
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/images: |
    - name: sonarqube-app
      image: sonarqube:9.9.0-datacenter-app
    - name: sonarqube-search
      image: sonarqube:9.9.0-datacenter-search
dependencies:
  - name: postgresql
    version: 10.15.0
    repository: https://raw.githubusercontent.com/bitnami/charts/pre-2022/bitnami
    condition: postgresql.enabled
  - name: ingress-nginx
    version: 4.0.13
    repository: https://kubernetes.github.io/ingress-nginx
    condition: nginx.enabled
