apiVersion: v1
name: sonarqube-dce
description: SonarQube offers Code Quality and Code Security analysis for up to 27 languages. Find Bugs, Vulnerabilities, Security Hotspots and Code Smells throughout your workflow.
version: 0.1.3
appVersion: 9.1.0
keywords:
  - coverage
  - security
  - code
  - quality
home: https://www.sonarqube.org/
icon: https://www.sonarqube.org/assets/logo-31ad3115b1b4b120f3d1efd63e6b13ac9f1f89437f0cf6881cc4d8b5603a52b4.svg
sources:
  - https://github.com/SonarSource/docker-sonarqube
kubeVersion: '>= 1.19.0-0'
maintainers:
  - name: tobias-trabelsi-sonarsource
    email: tobias.trabelsi+helm@sonarsource.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "Homoginized Description of the Helm Chart"
    - kind: fixed
      description: "fixed wrong link in README.md"
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/images: |
    - name: sonarqube-app
      image: sonarqube:9.1.0-datacenter-app
    - name: sonarqube-search
      image: sonarqube:9.1.0-datacenter-app
