apiVersion: v2
name: sonarqube-dce
description: SonarQube is a self-managed, automatic code review tool that systematically helps you deliver clean code. As a core element of our Sonar solution, SonarQube integrates into your existing workflow and detects issues in your code to help you perform continuous code inspections of your projects. The tool analyses 30+ different programming languages and integrates into your CI pipeline and DevOps platform to ensure that your code meets high-quality standards.
type: application
version: 2026.1.0
appVersion: 2025.6.0
keywords:
  - coverage
  - security
  - code
  - quality
home: https://www.sonarqube.org/
icon: https://raw.githubusercontent.com/SonarSource/sonarqube-static-resources/master/helm/SonarQubeServerLogo.png
sources:
  - https://github.com/SonarSource/helm-chart-sonarqube/tree/master/charts/sonarqube-dce
  - https://github.com/SonarSource/docker-sonarqube
  - https://github.com/SonarSource/sonarqube
kubeVersion: ">= 1.24.0-0"
maintainers:
  - name: carminevassallo
    email: carmine.vassallo@sonarsource.com
  - name: jCOTINEAU
    email: jeremy.cotineau@sonarsource.com
  - name: davividal
    email: davi.koscianski-vidal@sonarsource.com
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "Update Chart's version to 2026.1.0"
    - kind: added
      description: "Support Kubernetes v1.35"
    - kind: removed
      description: "Remove the postgresql dependency"
    - kind: deprecated
      description: "Deprecate `jdbcOverwrite.enabled` as it is now required to connect to an external database"
    - kind: added
      description: "Support Openshift v4.20"
    - kind: security
      description: "Update ingress-nginx subchart to v4.14.1"
    - kind: deprecated
      description: "Deprecate the ingress-nginx dependency"
  artifacthub.io/links: |
    - name: support
      url: https://community.sonarsource.com/
    - name: Chart Source
      url: https://github.com/SonarSource/helm-chart-sonarqube/tree/master/charts/sonarqube-dce
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/images: |
    - name: sonarqube-app
      image: sonarqube:2025.6.0-datacenter-app
    - name: sonarqube-search
      image: sonarqube:2025.6.0-datacenter-search
  charts.openshift.io/name: sonarqube-dce
dependencies:
  - name: ingress-nginx
    version: 4.14.1
    repository: https://kubernetes.github.io/ingress-nginx
    condition: nginx.enabled,ingress-nginx.enabled
