name: Azure Marketplace
on:
  workflow_dispatch:
    inputs:
      trigger:
        description: 'Trigger type'
        required: true
        default: 'PUSH_AZURE_STAGING'
        type: choice
        options:
          - PUSH_AZURE_STAGING
          - PUSH_AZURE_PRODUCTION

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !(github.ref_name == 'master' || startsWith(github.ref_name, 'release/')) }}

env:
  PSQL_VERSION: 11.14.0
  SQ_VERSION: 2026.1.0
  SQ_IMAGE_VERSION: 2026.1.0

jobs:
  build-azure-staging-app:
    runs-on: github-ubuntu-latest-s
    name: Build Azure Staging App
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - uses: jdx/mise-action@bfb9fa0b029db830a8c570757cee683df207a6c5 # v2.4.0
        with:
          version: 2025.7.12
      - id: secrets
        uses: SonarSource/vault-action-wrapper@3.0.2
        with:
          secrets: |
            development/team/sonarqube/kv/data/azure-marketplace-staging url | AZURE_ACR_REGISTRY_STAGING;
            development/team/sonarqube/kv/data/azure-marketplace-staging username | AZURE_ACR_USERNAME;
            development/team/sonarqube/kv/data/azure-marketplace-staging password | AZURE_ACR_PASSWORD;
      - name: Install helm
        run: |
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
          chmod 700 get_helm.sh
          ./get_helm.sh
      - name: Login to Azure
        env:
          AZURE_ACR_REGISTRY: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_REGISTRY_STAGING }}
          AZURE_ACR_USERNAME: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_USERNAME }}
          AZURE_ACR_PASSWORD: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_PASSWORD }}
        run: |
          echo "${AZURE_ACR_PASSWORD}" | docker login "${AZURE_ACR_REGISTRY}" --username "${AZURE_ACR_USERNAME}" --password-stdin
      - name: Pull required images
        run: |
          docker pull "docker.io/sonarqube:${SQ_IMAGE_VERSION}-enterprise"
          docker pull "docker.io/bitnamilegacy/postgresql:${PSQL_VERSION}"
      - name: Make script executable
        run: chmod +x ./.github/scripts/azure_app_verify_and_publish.sh
      - name: Build app
        env:
          AZURE_ACR_REGISTRY: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_REGISTRY_STAGING }}
          AZURE_ACR_USERNAME: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_USERNAME }}
          AZURE_ACR_PASSWORD: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_PASSWORD }}
        run: ./.github/scripts/azure_app_verify_and_publish.sh

  build-azure-prod-app:
    needs: [build-azure-staging-app]
    runs-on: github-ubuntu-latest-s
    name: Build Azure Prod App
    permissions:
      id-token: write
      contents: read
    if: ${{ github.event.inputs.trigger == 'PUSH_AZURE_PRODUCTION' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - uses: jdx/mise-action@bfb9fa0b029db830a8c570757cee683df207a6c5 # v2.4.0
        with:
          version: 2025.7.12
      - id: secrets
        uses: SonarSource/vault-action-wrapper@3.0.2
        with:
          secrets: |
            development/team/sonarqube/kv/data/azure-marketplace-production url | AZURE_ACR_REGISTRY_PRODUCTION;
            development/team/sonarqube/kv/data/azure-marketplace-production username | AZURE_ACR_USERNAME;
            development/team/sonarqube/kv/data/azure-marketplace-production password | AZURE_ACR_PASSWORD;
      - name: Install helm
        run: |
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3
          chmod 700 get_helm.sh
          ./get_helm.sh
      - name: Login to Azure
        env:
          AZURE_ACR_REGISTRY: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_REGISTRY_PRODUCTION }}
          AZURE_ACR_USERNAME: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_USERNAME }}
          AZURE_ACR_PASSWORD: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_PASSWORD }}
        run: |
          echo "${AZURE_ACR_PASSWORD}" | docker login "${AZURE_ACR_REGISTRY}" --username "${AZURE_ACR_USERNAME}" --password-stdin
      - name: Pull required images
        run: |
          docker pull "docker.io/sonarqube:${SQ_IMAGE_VERSION}-enterprise"
          docker pull "docker.io/bitnamilegacy/postgresql:${PSQL_VERSION}"
      - name: Make script executable
        run: chmod +x ./.github/scripts/azure_app_verify_and_publish.sh
      - name: Build app
        env:
          AZURE_ACR_REGISTRY: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_REGISTRY_PRODUCTION }}
          AZURE_ACR_USERNAME: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_USERNAME }}
          AZURE_ACR_PASSWORD: ${{ fromJSON(steps.secrets.outputs.vault).AZURE_ACR_PASSWORD }}
        run: ./.github/scripts/azure_app_verify_and_publish.sh
